@import "vw-starter";

* {
	box-sizing: border-box;
}

html {
	@include vw-base;
}

body {
    @media screen {
	    width: 100vw;
	    margin-left: calc((100% - 100vw) / 2);
	    overflow-x: hidden;
	}
}

h1 {
	font-size: px2rem(50);
	text-align: center;
}

h2 {
	font-size: px2rem(30);
}

img {
	display: block;
	float: left;
	padding: 0 px2rem(15);
	width: px2rem(300);

	@media screen and (max-width: $tablet-max) {
		margin: 0 auto;
		padding: px2rem(30) px2rem(20);
		width: 50%;
	}

	@media screen and (max-width: $mobile-max) {
		float: none;
		width: 100%;
	}
}

div {
	margin: 0 auto;
	width: px2rem(900);

	@media screen and (max-width: $tablet-max) {
		width: 100%;
	}
}