/*===================================================================================
   strip-units() : convert 14px/14em/etc to (int)14
  =================================================================================== */
/*===================================================================================
   variables
  =================================================================================== */
@media screen and (width: 319px), (width: 320px) {
  html {
    font-size: 1px; } }
@media screen and (width: 321px), (width: 322px) {
  html {
    font-size: 1.00625px; } }
@media screen and (width: 323px), (width: 324px) {
  html {
    font-size: 1.0125px; } }
@media screen and (width: 325px), (width: 326px) {
  html {
    font-size: 1.01875px; } }
@media screen and (width: 327px), (width: 328px) {
  html {
    font-size: 1.025px; } }
@media screen and (width: 329px), (width: 330px) {
  html {
    font-size: 1.03125px; } }
@media screen and (width: 331px), (width: 332px) {
  html {
    font-size: 1.0375px; } }
@media screen and (width: 333px), (width: 334px) {
  html {
    font-size: 1.04375px; } }
@media screen and (width: 335px), (width: 336px) {
  html {
    font-size: 1.05px; } }
@media screen and (width: 337px), (width: 338px) {
  html {
    font-size: 1.05625px; } }
@media screen and (width: 339px), (width: 340px) {
  html {
    font-size: 1.0625px; } }
@media screen and (width: 341px), (width: 342px) {
  html {
    font-size: 1.06875px; } }
@media screen and (width: 343px), (width: 344px) {
  html {
    font-size: 1.075px; } }
@media screen and (width: 345px), (width: 346px) {
  html {
    font-size: 1.08125px; } }
@media screen and (width: 347px), (width: 348px) {
  html {
    font-size: 1.0875px; } }
@media screen and (width: 349px), (width: 350px) {
  html {
    font-size: 1.09375px; } }
@media screen and (width: 351px), (width: 352px) {
  html {
    font-size: 1.1px; } }
@media screen and (width: 353px), (width: 354px) {
  html {
    font-size: 1.10625px; } }
@media screen and (width: 355px), (width: 356px) {
  html {
    font-size: 1.1125px; } }
@media screen and (width: 357px), (width: 358px) {
  html {
    font-size: 1.11875px; } }
@media screen and (width: 359px), (width: 360px) {
  html {
    font-size: 1.125px; } }
@media screen and (width: 361px), (width: 362px) {
  html {
    font-size: 1.13125px; } }
@media screen and (width: 363px), (width: 364px) {
  html {
    font-size: 1.1375px; } }
@media screen and (width: 365px), (width: 366px) {
  html {
    font-size: 1.14375px; } }
@media screen and (width: 367px), (width: 368px) {
  html {
    font-size: 1.15px; } }
@media screen and (width: 369px), (width: 370px) {
  html {
    font-size: 1.15625px; } }
@media screen and (width: 371px), (width: 372px) {
  html {
    font-size: 1.1625px; } }
@media screen and (width: 373px), (width: 374px) {
  html {
    font-size: 1.16875px; } }
@media screen and (width: 375px), (width: 376px) {
  html {
    font-size: 1.175px; } }
@media screen and (width: 377px), (width: 378px) {
  html {
    font-size: 1.18125px; } }
@media screen and (width: 379px), (width: 380px) {
  html {
    font-size: 1.1875px; } }
@media screen and (width: 381px), (width: 382px) {
  html {
    font-size: 1.19375px; } }
@media screen and (width: 383px), (width: 384px) {
  html {
    font-size: 1.2px; } }
@media screen and (width: 385px), (width: 386px) {
  html {
    font-size: 1.20625px; } }
@media screen and (width: 387px), (width: 388px) {
  html {
    font-size: 1.2125px; } }
@media screen and (width: 389px), (width: 390px) {
  html {
    font-size: 1.21875px; } }
@media screen and (width: 391px), (width: 392px) {
  html {
    font-size: 1.225px; } }
@media screen and (width: 393px), (width: 394px) {
  html {
    font-size: 1.23125px; } }
@media screen and (width: 395px), (width: 396px) {
  html {
    font-size: 1.2375px; } }
@media screen and (width: 397px), (width: 398px) {
  html {
    font-size: 1.24375px; } }
@media screen and (width: 399px), (width: 400px) {
  html {
    font-size: 1.25px; } }
@media screen and (width: 401px), (width: 402px) {
  html {
    font-size: 1.25625px; } }
@media screen and (width: 403px), (width: 404px) {
  html {
    font-size: 1.2625px; } }
@media screen and (width: 405px), (width: 406px) {
  html {
    font-size: 1.26875px; } }
@media screen and (width: 407px), (width: 408px) {
  html {
    font-size: 1.275px; } }
@media screen and (width: 409px), (width: 410px) {
  html {
    font-size: 1.28125px; } }
@media screen and (width: 411px), (width: 412px) {
  html {
    font-size: 1.2875px; } }
@media screen and (width: 413px), (width: 414px) {
  html {
    font-size: 1.29375px; } }
@media screen and (width: 415px), (width: 416px) {
  html {
    font-size: 1.3px; } }
@media screen and (width: 417px), (width: 418px) {
  html {
    font-size: 1.30625px; } }
@media screen and (width: 419px), (width: 420px) {
  html {
    font-size: 1.3125px; } }
@media screen and (width: 421px), (width: 422px) {
  html {
    font-size: 1.31875px; } }
@media screen and (width: 423px), (width: 424px) {
  html {
    font-size: 1.325px; } }
@media screen and (width: 425px), (width: 426px) {
  html {
    font-size: 1.33125px; } }
@media screen and (width: 427px), (width: 428px) {
  html {
    font-size: 1.3375px; } }
@media screen and (width: 429px), (width: 430px) {
  html {
    font-size: 1.34375px; } }
@media screen and (width: 431px), (width: 432px) {
  html {
    font-size: 1.35px; } }
@media screen and (width: 433px), (width: 434px) {
  html {
    font-size: 1.35625px; } }
@media screen and (width: 435px), (width: 436px) {
  html {
    font-size: 1.3625px; } }
@media screen and (width: 437px), (width: 438px) {
  html {
    font-size: 1.36875px; } }
@media screen and (width: 439px), (width: 440px) {
  html {
    font-size: 1.375px; } }
@media screen and (width: 441px), (width: 442px) {
  html {
    font-size: 1.38125px; } }
@media screen and (width: 443px), (width: 444px) {
  html {
    font-size: 1.3875px; } }
@media screen and (width: 445px), (width: 446px) {
  html {
    font-size: 1.39375px; } }
@media screen and (width: 447px), (width: 448px) {
  html {
    font-size: 1.4px; } }
@media screen and (width: 449px), (width: 450px) {
  html {
    font-size: 1.40625px; } }
@media screen and (width: 451px), (width: 452px) {
  html {
    font-size: 1.4125px; } }
@media screen and (width: 453px), (width: 454px) {
  html {
    font-size: 1.41875px; } }
@media screen and (width: 455px), (width: 456px) {
  html {
    font-size: 1.425px; } }
@media screen and (width: 457px), (width: 458px) {
  html {
    font-size: 1.43125px; } }
@media screen and (width: 459px), (width: 460px) {
  html {
    font-size: 1.4375px; } }
@media screen and (width: 461px), (width: 462px) {
  html {
    font-size: 1.44375px; } }
@media screen and (width: 463px), (width: 464px) {
  html {
    font-size: 1.45px; } }
@media screen and (width: 465px), (width: 466px) {
  html {
    font-size: 1.45625px; } }
@media screen and (width: 467px), (width: 468px) {
  html {
    font-size: 1.4625px; } }
@media screen and (width: 469px), (width: 470px) {
  html {
    font-size: 1.46875px; } }
@media screen and (width: 471px), (width: 472px) {
  html {
    font-size: 1.475px; } }
@media screen and (width: 473px), (width: 474px) {
  html {
    font-size: 1.48125px; } }
@media screen and (width: 475px), (width: 476px) {
  html {
    font-size: 1.4875px; } }
@media screen and (width: 477px), (width: 478px) {
  html {
    font-size: 1.49375px; } }
@media screen and (width: 479px), (width: 480px) {
  html {
    font-size: 1.5px; } }
@media screen and (width: 481px), (width: 482px) {
  html {
    font-size: 1.50625px; } }
@media screen and (width: 483px), (width: 484px) {
  html {
    font-size: 1.5125px; } }
@media screen and (width: 485px), (width: 486px) {
  html {
    font-size: 1.51875px; } }
@media screen and (width: 487px), (width: 488px) {
  html {
    font-size: 1.525px; } }
@media screen and (width: 489px), (width: 490px) {
  html {
    font-size: 1.53125px; } }
@media screen and (width: 491px), (width: 492px) {
  html {
    font-size: 1.5375px; } }
@media screen and (width: 493px), (width: 494px) {
  html {
    font-size: 1.54375px; } }
@media screen and (width: 495px), (width: 496px) {
  html {
    font-size: 1.55px; } }
@media screen and (width: 497px), (width: 498px) {
  html {
    font-size: 1.55625px; } }
@media screen and (width: 499px), (width: 500px) {
  html {
    font-size: 1.5625px; } }
@media screen and (width: 501px), (width: 502px) {
  html {
    font-size: 1.56875px; } }
@media screen and (width: 503px), (width: 504px) {
  html {
    font-size: 1.575px; } }
@media screen and (width: 505px), (width: 506px) {
  html {
    font-size: 1.58125px; } }
@media screen and (width: 507px), (width: 508px) {
  html {
    font-size: 1.5875px; } }
@media screen and (width: 509px), (width: 510px) {
  html {
    font-size: 1.59375px; } }
@media screen and (width: 511px), (width: 512px) {
  html {
    font-size: 1.6px; } }
@media screen and (width: 513px), (width: 514px) {
  html {
    font-size: 1.60625px; } }
@media screen and (width: 515px), (width: 516px) {
  html {
    font-size: 1.6125px; } }
@media screen and (width: 517px), (width: 518px) {
  html {
    font-size: 1.61875px; } }
@media screen and (width: 519px), (width: 520px) {
  html {
    font-size: 1.625px; } }
@media screen and (width: 521px), (width: 522px) {
  html {
    font-size: 1.63125px; } }
@media screen and (width: 523px), (width: 524px) {
  html {
    font-size: 1.6375px; } }
@media screen and (width: 525px), (width: 526px) {
  html {
    font-size: 1.64375px; } }
@media screen and (width: 527px), (width: 528px) {
  html {
    font-size: 1.65px; } }
@media screen and (width: 529px), (width: 530px) {
  html {
    font-size: 1.65625px; } }
@media screen and (width: 531px), (width: 532px) {
  html {
    font-size: 1.6625px; } }
@media screen and (width: 533px), (width: 534px) {
  html {
    font-size: 1.66875px; } }
@media screen and (width: 535px), (width: 536px) {
  html {
    font-size: 1.675px; } }
@media screen and (width: 537px), (width: 538px) {
  html {
    font-size: 1.68125px; } }
@media screen and (width: 539px), (width: 540px) {
  html {
    font-size: 1.6875px; } }
@media screen and (width: 541px), (width: 542px) {
  html {
    font-size: 1.69375px; } }
@media screen and (width: 543px), (width: 544px) {
  html {
    font-size: 1.7px; } }
@media screen and (width: 545px), (width: 546px) {
  html {
    font-size: 1.70625px; } }
@media screen and (width: 547px), (width: 548px) {
  html {
    font-size: 1.7125px; } }
@media screen and (width: 549px), (width: 550px) {
  html {
    font-size: 1.71875px; } }
@media screen and (width: 551px), (width: 552px) {
  html {
    font-size: 1.725px; } }
@media screen and (width: 553px), (width: 554px) {
  html {
    font-size: 1.73125px; } }
@media screen and (width: 555px), (width: 556px) {
  html {
    font-size: 1.7375px; } }
@media screen and (width: 557px), (width: 558px) {
  html {
    font-size: 1.74375px; } }
@media screen and (width: 559px), (width: 560px) {
  html {
    font-size: 1.75px; } }
@media screen and (width: 561px), (width: 562px) {
  html {
    font-size: 1.75625px; } }
@media screen and (width: 563px), (width: 564px) {
  html {
    font-size: 1.7625px; } }
@media screen and (width: 565px), (width: 566px) {
  html {
    font-size: 1.76875px; } }
@media screen and (width: 567px), (width: 568px) {
  html {
    font-size: 1.775px; } }
@media screen and (width: 569px), (width: 570px) {
  html {
    font-size: 1.78125px; } }
@media screen and (width: 571px), (width: 572px) {
  html {
    font-size: 1.7875px; } }
@media screen and (width: 573px), (width: 574px) {
  html {
    font-size: 1.79375px; } }
@media screen and (width: 575px), (width: 576px) {
  html {
    font-size: 1.8px; } }
@media screen and (width: 577px), (width: 578px) {
  html {
    font-size: 1.80625px; } }
@media screen and (width: 579px), (width: 580px) {
  html {
    font-size: 1.8125px; } }
@media screen and (width: 581px), (width: 582px) {
  html {
    font-size: 1.81875px; } }
@media screen and (width: 583px), (width: 584px) {
  html {
    font-size: 1.825px; } }
@media screen and (width: 585px), (width: 586px) {
  html {
    font-size: 1.83125px; } }
@media screen and (width: 587px), (width: 588px) {
  html {
    font-size: 1.8375px; } }
@media screen and (width: 589px), (width: 590px) {
  html {
    font-size: 1.84375px; } }
@media screen and (width: 591px), (width: 592px) {
  html {
    font-size: 1.85px; } }
@media screen and (width: 593px), (width: 594px) {
  html {
    font-size: 1.85625px; } }
@media screen and (width: 595px), (width: 596px) {
  html {
    font-size: 1.8625px; } }
@media screen and (width: 597px), (width: 598px) {
  html {
    font-size: 1.86875px; } }
@media screen and (width: 599px), (width: 600px) {
  html {
    font-size: 1.875px; } }

html {
  font-size: 0.3125vw; }
  @media screen and (min-width: 601px) {
    html {
      font-size: 0.15625vw; } }
  @media screen and (min-width: 768px) {
    html {
      font-size: 1.2px; } }
  @media screen and (min-width: 900px) {
    html {
      font-size: 0.08vw; } }
  @media screen and (min-width: 900px) and (max-width: 1000px) {
    html {
      font-size: 0.8px; } }

h1 {
  font-size: 28rem;
  margin: 6rem 10rem; }
  @media screen and (min-width: 601px) {
    h1 {
      font-size: 32rem;
      margin: 11rem 16rem; } }
  @media screen and (min-width: 900px) {
    h1 {
      font-size: 36rem;
      margin: 12rem 18rem; } }

/* INTRINSIC RATIO */
.wide-screen-video {
  width: 640rem;
  height: 360rem; }

/* FILL INTRINSICALLY */
.fill-intrinsically {
  margin: auto;
  background-color: lightgreen;
  font-size: 5vw;
  height: 56.25vw;
  width: 100vw; }

@media screen and (min-aspect-ratio: 16 / 9) {
  .fill-intrinsically {
    background-color: lightblue;
    height: 100vh;
    width: 177.77777778vh;
    font-size: 8.888888889vh; } }
/* SCALABLE COMPONENTS */
.my-component {
  font-size: 1rem; }
  .my-component h1 {
    font-size: 24em;
    margin: 0.20833em; }

/*===================================================================================
   px2em() : convert from pixels to em's, based on the context (inherited font-size in pixels)
  =================================================================================== */
/* BODY WIDTH BUG */
body {
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
  overflow-x: hidden; }

/*# sourceMappingURL=vw-magic.css.map */
